.item--paper-container {
    margin-bottom: 20px;
}

.item--container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.item--description {
    font-style: italic;
    text-align: right;
}

.item--picker-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 10px;
}

.item-total {
    font-weight: bold;
}

.item--wasabi-container {
    margin-top: 10px;
}